/* Top navigation style */
ul.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: rgb(154,132,109);

  z-index: 100;
}

li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
}

ul.navbar li a:hover {
  color: white;
  font-weight: bold;
  background-color: rgb(176, 158, 140);
}

.active {
  background-color: rgb(123, 93, 62);
}



/* Text style */
p{
    text-align: justify;
}
.middleThings {
    width: 1000px;
    margin: 0 auto;
}

.mid-title {
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family:"Geneva",sans-serif;
    margin-top: 80px;
}
.mid-text {
    font-size: 20px;
    text-align: justify;
    font-weight:lighter;
    font-family:'Geneva',sans-serif;
    margin-top:35px;
    margin-bottom:35px;
    margin-left:10px;
    width:100%;
}

.title {
    margin-top: 100px;
    font-size: 45px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}



.box_chart{
    width: 1000px;
    margin: 0 auto;
}

#table {
    margin: auto;
    padding: 100px 0;
    grid-area: popchart;
    height: 350px;
    width: 900px;
}

.button_chart{
    margin-left: 400px;
}
.btn-secondary {
    color: black;
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    margin: 15px 0 10px 10px;
    font-size: 0.9rem !important;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

#map {
    position: absolute;
    top: 150%;
    left: 50%;
    width: 50%;
    height: 500px;
    transform: translate(-50%, -50%);
}
.iframe-container {
    height: 700px;
    display: flex;
    justify-content: center;
    padding: 3% 10%;
     /* 左右留出10%的空间 */
}

#flowchart {
    margin: auto;
    padding: 100px 0;
    grid-area: popchart;
    height: 900px;
    width: 1000px;
}

hr {
    width: 1100px;
    margin-top: 50px;
    margin-bottom: 50px;
}


footer {
    font: 14px "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 50px 0 100px 0;
}
