body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.title {
    margin-top: 100px;
    text-align: center;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#table {
    margin: auto;
    padding: 100px 0;
    grid-area: popchart;
    height: 350px;
    width: 50%;
}

#map_describe {
    position: absolute;
    width: 320px;
    height: 200px;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.session {
    width: 250px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 30px;
}

.row {
    height: 12px;
    width: 100%;
}

.colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
}


.table{
    margin: 0 auto;

}


.label {
    height: 20px;
    width: 20px;
}


.legend {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 230px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 30px;
}

.legend-text{
    text-align: center;
}